//reds
$primary-120: #A7102A;
$primary-110: #BC122F;
$primary: #D11434;
$primary-90: #D62C48;
$primary-80: #DA435D;
$primary-70: #DF5B71;
$primary-60: #E37285;
$primary-50: #E88999;
$primary-40: #EDA1AE;
$primary-30: #F1B9C2;
$primary-20: #F6D0D6;
$primary-10: #FAE7EB;

//blacks
$black: #1E1E1E;
$black-90: #353535;
$black-80: #4B4B4B;
$black-70: #626262;
$black-60: #787878;
$black-50: #8F8F8F;
$black-40: #A5A5A5;
$black-30: #BBBBBB;
$black-20: #D2D2D2;
$black-10: #E8E8E8;