* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

html {
  overflow-x: clip;
}

body {
  background-color: #E8E8E8;
}

p, a, li, button, input, textarea, span, strong, label, select, option {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: initial;
  transition: all 0.2s linear;
}
a:hover {
  color: #D11434;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}
h1 > strong {
  color: #D11434;
  font-size: inherit;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

main {
  padding: 0 6rem;
  height: 80vh;
}
@media (max-width: 1200px) {
  main {
    padding: 0 2.5rem;
  }
}

.header-container,
.section-container,
.footer-container {
  max-width: 120rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header-container {
  max-width: 119.6rem;
}

.logo {
  width: 15rem;
}

.section-container-row {
  display: flex;
  gap: 4rem;
}
@media (max-width: 991px) {
  .section-container-row {
    flex-direction: column;
  }
}
.section-container-row .section-container-column {
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .section-container-row .section-container-column {
    flex-basis: 100%;
  }
}

.landing {
  min-height: 100vh;
}

.cookie-consent-banner {
  position: fixed;
  z-index: 10;
  left: 0;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
  color: white;
}
.cookie-consent-banner .cookie-wrapper {
  background-color: rgba(30, 30, 30, 0.9);
  max-width: 80%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .cookie-consent-banner .cookie-wrapper {
    flex-direction: column;
  }
}
.cookie-consent-banner p {
  font-size: 1.2rem;
}
.cookie-consent-banner .btn-wrapper {
  display: flex;
  gap: 1.5rem;
}

.thank-you, .simple-page {
  display: flex;
  min-height: 100vh;
  padding-top: 15rem;
}
.thank-you .section-desc, .simple-page .section-desc {
  margin-bottom: 3.1rem;
}

#price, .chosen-apartment {
  text-align: right;
  margin-bottom: 2rem;
  font-size: 2rem;
}
#price span, .chosen-apartment span {
  font: inherit;
  font-weight: 600;
}

.chosen-apartment {
  margin-bottom: 1.3rem;
}

.reservation-floating {
  position: fixed;
  bottom: 0;
  right: 2rem;
  transition: all 0.3s ease-out;
  transform: translateY(0%);
  z-index: 30;
}

.reservation-static.in-viewport + .reservation-floating {
  transform: translateY(100%);
}

.copy-notif {
  position: fixed;
  top: 0;
  background-color: #353535;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: copy 3s ease-out;
  z-index: 9999;
  transform: translateY(-3rem);
  align-items: center;
  color: white;
  font-size: 1.6rem;
}
.copy-notif .lnc {
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

@keyframes copy {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  z-index: 20;
  isolation: isolate;
  width: 100%;
}
@media (max-width: 991px) {
  .header {
    left: 2.4rem;
    right: 2.4rem;
    width: unset;
  }
}
.header a {
  color: #D2D2D2;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  height: 5.2rem;
  background-color: #1E1E1E;
  border-radius: 2rem;
  outline: 4px solid rgba(255, 255, 255, 0.9);
}
@media (max-width: 1200px) {
  .header .header-container {
    padding: 0 2.5rem;
  }
}
@media (max-width: 991px) {
  .header .header-container {
    outline: 0;
  }
}
.header nav {
  display: flex;
  gap: 4rem;
}
.header nav .nav-item {
  cursor: pointer;
}
.header nav .nav-item::before {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  width: 0;
  background-color: white;
  height: 1px;
  transition: width 0.1s linear;
}
.header nav .nav-item.active::before, .header nav .nav-item:hover::before {
  width: 2rem;
}
@media (max-width: 991px) {
  .header nav .nav-item.active::before, .header nav .nav-item:hover::before {
    display: none;
  }
}
@media (max-width: 991px) {
  .header nav .nav-item.active:not(.nav-dropdown), .header nav .nav-item:hover:not(.nav-dropdown) {
    background-color: #353535;
  }
}
@media (max-width: 991px) {
  .header nav .nav-item {
    padding: 1.485rem;
    border-radius: 2rem;
  }
}
.header nav .submenu-items .nav-item {
  white-space: nowrap;
  align-items: center;
}
.header nav .submenu-items .nav-item::before {
  display: none;
}
.header nav .submenu-items .nav-item::after {
  content: "";
  font-family: uicons-regular-straight !important;
  margin-left: auto;
  padding-left: 1.6rem;
  width: 1.6rem;
}
.header nav .submenu-items .nav-item:hover::after, .header nav .submenu-items .nav-item.active::after {
  content: "\f160";
}
@media (max-width: 991px) {
  .header nav {
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 28rem;
    gap: 0.8rem;
  }
}
@media (max-width: 991px) {
  .header nav .nav-dropdown {
    position: relative;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header nav .nav-dropdown .dropdown {
    position: relative;
    transform: unset;
    background-color: #353535;
    margin-bottom: 1.485rem;
  }
  .header nav .nav-dropdown .dropdown .submenu-items .nav-item:hover {
    background-color: #1E1E1E;
  }
  .header nav .nav-dropdown.open {
    background-color: #353535;
  }
}
.header a, .header .nav-item {
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: center;
  transition: color 0.1s linear;
  color: #D2D2D2;
  font-size: 1.4rem;
}
.header a.active, .header a:hover, .header .nav-item.active, .header .nav-item:hover {
  color: white;
}
.header .copy-link {
  white-space: nowrap;
  cursor: pointer;
}
@media (max-width: 991px) {
  .header-center {
    position: fixed;
    inset: 0;
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.2s ease-out;
    padding-top: 15.6rem;
  }
  .header-center.show {
    transform: translateY(0%);
  }
}
.header-right {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.header-right i {
  color: #D2D2D2;
}
@media (max-width: 991px) {
  .header-right .lang-dropdown {
    display: none;
  }
}

.menu-switch {
  font-size: 1.6rem;
  color: white;
  display: flex;
  cursor: pointer;
}
@media (min-width: 992px) {
  .menu-switch {
    display: none;
  }
}

.nav-dropdown .dropdown {
  display: none;
  position: absolute;
  transform: translateY(45px);
  background-color: #1E1E1E;
  border-radius: 2rem;
  padding: 4px;
}
.nav-dropdown .dropdown .submenu-items {
  justify-content: flex-start;
  flex-direction: column;
}
.nav-dropdown .dropdown .submenu-items .nav-item {
  padding: 1.2rem;
  justify-content: flex-start;
  border-radius: 1.6rem;
}
.nav-dropdown .dropdown .submenu-items .nav-item:hover {
  background-color: #4B4B4B;
}
.nav-dropdown .dropdown.show {
  display: block;
}

.lang-dropdown::before {
  display: none;
}
.lang-dropdown > a::before {
  display: none;
}
.lang-dropdown .dropdown {
  transform: translate(-20px, 45px);
}

.lang-select a {
  align-items: center;
}
.lang-select a::before {
  display: none;
}
.lang-select i {
  font-size: 1.4rem;
  margin-left: auto;
  padding-left: 2.6rem;
  padding-right: 0.2rem;
  top: 2px;
  position: relative;
}
.lang-select img {
  margin-right: 5px;
}

.share-dropdown::before {
  display: none;
}
.share-dropdown > i {
  font-size: 1.6rem;
  display: flex;
  cursor: pointer;
}
.share-dropdown:hover > i {
  color: white;
}
.share-dropdown .nav-item {
  align-items: center;
}
.share-dropdown .nav-item img {
  display: flex;
  height: 19px;
}
.share-dropdown .nav-item i {
  font-size: 1.6rem;
  color: white;
}
.share-dropdown .nav-item img, .share-dropdown .nav-item i {
  margin-right: 7px;
}

.active-language {
  align-items: center;
}
@media (max-width: 991px) {
  .active-language {
    display: none !important;
  }
}
.active-language i {
  font-size: 1.6rem;
  margin-right: 4px;
  display: flex;
}

@media (min-width: 992px) {
  .mobile-menu-footer {
    display: none;
  }
}
.mobile-menu-footer .lang-dropdown .lang-select {
  display: flex;
}
@media (max-width: 991px) {
  .mobile-menu-footer .lang-dropdown .lang-select i {
    display: none;
  }
}
.mobile-menu-footer .lang-dropdown .lang-select .nav-item {
  padding: 0.6rem 1.2rem !important;
}
.mobile-menu-footer .lang-dropdown .lang-select .nav-item.active {
  background-color: #353535;
}
@media (max-width: 991px) {
  .mobile-menu-footer .lang-dropdown .dropdown {
    transform: unset;
    display: flex !important;
    position: static;
  }
}
@media (max-width: 991px) {
  .mobile-menu-footer {
    transform: unset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }
}

.socials {
  display: flex;
  gap: 2rem;
}

.footer {
  min-height: 14.4rem;
  display: flex;
  align-items: center;
}

.footer-container {
  color: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem;
}
@media (max-width: 1200px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
    max-width: 36rem;
  }
  .footer-container > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  .footer-container > *:not(:first-child) {
    margin-top: 1rem;
  }
  .footer-container .btn {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .footer-container {
    max-width: unset;
  }
}
.footer-container a {
  color: #1E1E1E;
}
.footer-container h3 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .footer-container h3 {
    display: none;
  }
}
.footer-container a:hover {
  color: #D11434;
}
.footer-container a:hover i {
  color: #D11434;
}
@media (max-width: 1200px) {
  .footer-container a {
    font-size: 1.4rem;
  }
}
.footer-container .fi {
  font-size: 1.6rem;
  display: inline-flex;
}
.footer-container .contact {
  display: flex;
  align-items: center;
}
.footer-container .contact .fi {
  margin-right: 5px;
}

.footer-border {
  width: 1px;
  height: 4.4rem;
  background-color: #E88999;
  display: inline-block;
}
@media (max-width: 1200px) {
  .footer-border {
    height: 2.4rem;
  }
  .footer-border:not(.footer-border-mobile) {
    display: none;
  }
}
.footer-border-horizontal {
  height: 1px;
  width: 100%;
  background-color: #E88999;
  display: inline-block;
}
@media (min-width: 1201px) {
  .footer-border-horizontal {
    display: none;
  }
}

.footer-group {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
@media (max-width: 1200px) {
  .footer-group {
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }
}

@media (max-width: 1200px) {
  .copyright {
    font-size: 1.2rem;
  }
}

.image-modal {
  position: fixed;
  inset: 50px;
  z-index: 9999;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .image-modal {
    inset: 0;
  }
}
.image-modal::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 12, 22, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.image-modal .current-image {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-height: 85vh;
  position: relative;
}
.image-modal img {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  max-width: calc(100% - 3rem);
  height: -moz-fit-content;
  height: fit-content;
  max-height: 85vh;
}
@media (max-width: 991px) {
  .image-modal img {
    max-width: calc(100% - 7.3rem);
  }
}
.image-modal .next-image,
.image-modal .prev-image {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  bottom: 0;
}
.image-modal .next-image img,
.image-modal .prev-image img {
  display: block;
  max-height: 3rem;
  min-width: 3rem;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 991px) {
  .image-modal .next-image img,
  .image-modal .prev-image img {
    height: 100%;
  }
}
@media (max-width: 991px) {
  .image-modal .next-image,
  .image-modal .prev-image {
    padding: 1rem;
  }
}
.image-modal .next-image {
  right: 0;
}
.image-modal .prev-image {
  left: 0;
}
.image-modal .image-close {
  color: white;
  position: fixed;
  bottom: 2rem;
  z-index: 2;
  cursor: pointer;
  max-height: 2.4rem;
}
.image-modal.modal-out .current-image img {
  animation: imageOut 0.4s ease-in forwards;
}
.image-modal.modal-out::after {
  animation: blurOut 0.4s linear 0.4s forwards;
}

@keyframes imageOut {
  from {
    max-height: 85vh;
    transform: translate(0, 0);
  }
  to {
    max-height: 0vh;
    transform: translate(50vw, -68vh);
  }
}
@keyframes blurOut {
  from {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background-color: rgba(0, 12, 22, 0.5);
  }
  to {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    background-color: rgba(0, 12, 22, 0);
  }
}
.feature-image {
  width: 100%;
}

input, textarea, select {
  border: 2px solid #787878;
  outline: 0;
  padding: 12px 15px;
  width: 100%;
  color: #626262;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  border: 2px solid #D2D2D2;
  -webkit-text-fill-color: #1E1E1E;
  -webkit-box-shadow: 0 0 0px 200px white inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
input.disabled, textarea.disabled, select.disabled {
  opacity: 0.65;
  pointer-events: none;
}
input:focus, textarea:focus, select:focus {
  border-color: #A5A5A5;
}

@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  input, textarea, select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0;
  }
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
  position: relative;
}
.input-wrapper-icon input, .input-wrapper-icon select {
  padding-left: 6.2rem;
}
.input-wrapper-icon img {
  position: absolute;
  font-size: 2rem;
  bottom: 0.9rem;
  left: 1.6rem;
  pointer-events: none;
  color: #626262;
  width: 3rem;
  height: 3rem;
  width: 3rem;
  height: 3rem;
}
.input-wrapper-split {
  display: flex;
  gap: 2rem;
}
.input-wrapper-split .input-wrapper {
  width: 100%;
}
@media (max-width: 650px) {
  .input-wrapper-split {
    flex-direction: column;
  }
}
.input-wrapper label {
  margin-bottom: 0.5rem;
  transition: all 0.3s linear;
}
.input-wrapper.hidden-field {
  display: none;
}

.btn {
  border: 0;
  padding: 1.2rem 1.6rem;
  outline: 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}
.btn img, .btn .fi {
  display: inline-flex;
  margin-right: 0.8rem;
}
.btn-primary {
  background-color: #1E1E1E;
  color: #E8E8E8;
}
.btn-primary:hover {
  background-color: #D11434;
}
.btn-secondary {
  background-color: #DCDCDC;
  color: #4B4B4B;
}
.btn-secondary:hover {
  background-color: #8F8F8F;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  background-color: rgba(143, 143, 143, 0.9);
}
.modal .modal {
  z-index: 9999;
}
.modal.show {
  display: flex;
}

.modal-content {
  width: 100%;
  max-height: 100%;
  max-width: 68.9rem;
  z-index: 9999;
  margin: 15px;
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 4.8rem 10.4rem;
}
@media (max-width: 991px) {
  .modal-content {
    padding: 4.8rem 1.6rem;
  }
}
.modal-content-header {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  z-index: 2;
  min-height: 38px;
}
.modal-content-header .modal-title {
  padding-right: 33px;
  font-size: 1.3rem;
}
.modal-content-header .modal-title .lnc {
  font-size: 0.8rem;
}
.modal-content-header div.modal-close.close {
  position: absolute;
  right: 1.2rem;
}
.modal-content-body {
  min-height: 1rem;
  max-height: calc(100vh - 6.2rem);
  overflow: hidden auto;
  scrollbar-width: none;
}
.modal-content-body::-webkit-scrollbar {
  width: 0;
}
.modal-content-body h2 {
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}
.modal-content > .modal-close {
  cursor: pointer;
  transition: all 0.1s linear;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 99;
  font-size: 2rem;
}
.modal-content > .modal-close:hover .lnc {
  transform: rotate(90deg);
  transition: all 0.1s linear;
  display: block;
}

.modal .modal-xs {
  max-width: 240px;
}

.modal .modal-sm {
  max-width: 400px;
}

.modal .modal-l {
  max-width: 1200px;
}

.modal .modal-workshop {
  max-width: 1000px;
}

.modal .modal-l-full-h {
  max-width: 1200px;
  height: 100vh;
  margin: 0;
}

.modal .modal-xl {
  max-width: 1920px;
}
.modal .modal-xl .floor-view {
  max-height: 100vh;
}

.modal .modal-responsive {
  width: 100%;
  max-height: calc(100vh - 2rem);
  max-width: unset;
}/*# sourceMappingURL=main.css.map */