* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

html {
  overflow-x: clip;
}

body {
  background-color: #E8E8E8;
}

p, a, li, button, input, textarea, span, strong, label, select, option {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: initial;
  transition: all 0.2s linear;
}
a:hover {
  color: #D11434;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}
h1 > strong {
  color: #D11434;
  font-size: inherit;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}

main section {
  padding: 4rem 2rem;
}
main section.section-pt-0 {
  padding-top: 0;
}
main section.section-pb-0 {
  padding-bottom: 0;
}

.header-container,
.section-container,
.footer-container {
  max-width: 120rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section-title, .section-title-main {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 2.4rem;
  font-weight: 700;
}
.section-title::after, .section-title-main::after {
  content: "";
  width: 4rem;
  height: 1px;
  background-color: #D11434;
  margin: 2rem 0;
}

h1.section-title-main {
  color: #D11434;
  font-size: 3.6rem;
}
@media (max-width: 991px) {
  h1.section-title-main {
    font-size: 2.6rem;
  }
}

h3.section-title-main {
  color: #D11434;
  font-size: 2.4rem;
}
h3.section-title-main::after {
  background-color: #1E1E1E;
}
@media (max-width: 991px) {
  h3.section-title-main {
    font-size: 2rem;
  }
}

.logo {
  width: 15rem;
}

.section-container-row {
  display: flex;
  gap: 4rem;
}
@media (max-width: 991px) {
  .section-container-row {
    flex-direction: column;
  }
}
.section-container-row .section-container-column {
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .section-container-row .section-container-column {
    flex-basis: 100%;
  }
}
.section-container.section-column {
  flex-direction: column;
}

.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
}
.landing h1 {
  text-align: center;
  max-width: 68rem;
  margin: auto;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
}
.landing h1 strong {
  font-weight: inherit;
}
@media (max-width: 991px) {
  .landing h1 {
    font-size: 3.2rem;
  }
}

.page-padding {
  padding-top: 18rem;
}
@media (max-width: 991px) {
  .page-padding {
    padding-top: 11rem;
  }
}

.section-description {
  color: #1E1E1E;
  text-align: center;
  margin-bottom: 8rem;
}

.cookie-consent-banner {
  position: fixed;
  z-index: 10;
  left: 0;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
  color: white;
}
.cookie-consent-banner .cookie-wrapper {
  background-color: rgba(30, 30, 30, 0.9);
  max-width: 80%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .cookie-consent-banner .cookie-wrapper {
    flex-direction: column;
  }
}
.cookie-consent-banner p {
  font-size: 1.2rem;
}
.cookie-consent-banner .btn-wrapper {
  display: flex;
  gap: 1.5rem;
}

.thank-you, .simple-page {
  display: flex;
  min-height: 100vh;
  padding-top: 15rem;
}
.thank-you .section-desc, .simple-page .section-desc {
  margin-bottom: 3.1rem;
}

#price, .chosen-apartment {
  text-align: right;
  margin-bottom: 2rem;
  font-size: 2rem;
}
#price span, .chosen-apartment span {
  font: inherit;
  font-weight: 600;
}

.chosen-apartment {
  margin-bottom: 1.3rem;
}

.reservation-floating {
  position: fixed;
  bottom: 0;
  right: 2rem;
  transition: all 0.3s ease-out;
  transform: translateY(0%);
  z-index: 30;
}

.reservation-static.in-viewport + .reservation-floating {
  transform: translateY(100%);
}

.copy-notif {
  position: fixed;
  top: 0;
  background-color: #353535;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: copy 3s ease-out;
  z-index: 9999;
  transform: translateY(-3rem);
  align-items: center;
  color: white;
  font-size: 1.6rem;
}
.copy-notif .lnc {
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

@keyframes copy {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}
.owl-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  top: 0;
  pointer-events: none;
  z-index: 10;
}
.owl-nav button {
  pointer-events: all;
  width: 6rem;
}
.owl-nav button:first-child {
  background: linear-gradient(90deg, #E8E8E8 0%, rgba(232, 232, 232, 0) 100%) !important;
}
.owl-nav button:last-child {
  background: linear-gradient(270deg, #E8E8E8 0%, rgba(232, 232, 232, 0) 100%) !important;
}
.owl-nav button i {
  font-size: 1.6rem;
}

.category-shapes .logo-shape {
  right: -10%;
  left: unset;
}
.category-shapes .logo-shape-small {
  right: -11%;
  left: unset;
}
.category-shapes .logo-shape-small-2 {
  left: -5%;
  top: 35%;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
}

.product-category {
  margin-bottom: 1.2rem;
}
.product-name {
  margin-bottom: 1.5rem;
}

.product-attributes {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-radius: 1.2rem;
  overflow: hidden;
  width: 100%;
}
.product-attributes .attribute {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
}
.product-attributes .attribute::before {
  content: "";
  font-family: uicons-regular-straight;
  font-size: 1.6rem;
  color: #1E1E1E;
}
.product-attributes .attribute-description h5 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #1E1E1E;
}
.product-attributes .attribute-description p {
  font-size: 1.8rem;
  font-weight: 600;
}
.product-attributes .attribute.attribute-available {
  background-color: #E8E8E8;
}
.product-attributes .attribute.attribute-available::before {
  content: "\f34a";
}
.product-attributes .attribute.attribute-unavailable {
  background-color: #FAE7EB;
}
.product-attributes .attribute.attribute-unavailable::before {
  content: "\f458";
  color: #D11434;
}

.title-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;
}
.title-image .title-background {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.title-image p {
  text-align: center;
}
.title-image .section-subtitle {
  text-align: center;
}
.title-image .section-subtitle ~ p {
  margin-top: 2rem;
}

.page-content-row {
  display: flex;
  width: 100%;
}
@media (max-width: 991px) {
  .page-content-row {
    flex-direction: column;
    align-items: center;
  }
}
.page-content-row .page-content-left {
  position: relative;
  width: 34rem;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .page-content-row .page-content-left {
    margin-bottom: 2rem;
  }
}
.page-content-row .page-content-left img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
.page-content-row .page-content-left::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 50%;
  background-color: #D2D2D2;
  z-index: -1;
  border-radius: 2rem;
}
.page-content-row .page-content-right {
  flex-grow: 1;
}

.steps-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.steps-content .step {
  border: 1px solid #BBBBBB;
  padding: 2rem;
  display: flex;
  border-radius: 2rem;
}
.steps-content .step-number {
  font-size: 5.7rem;
  padding-right: 2rem;
  color: #E88999;
  height: -moz-fit-content;
  height: fit-content;
}
.steps-content .step-text {
  padding-left: 2rem;
  border-left: 1px solid #E88999;
}
.steps-content .step-text h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #D11434;
}

.page-shapes .logo-shape {
  right: -40rem;
  top: 50vh;
  left: unset;
}
.page-shapes .logo-shape-small {
  top: 4.5rem;
  left: -12rem;
}
.page-shapes .logo-shape-extra-small {
  top: 9.5rem;
  right: 6rem;
}

.email-app {
  color: #787878;
  margin-top: 2rem;
}
.email-app a {
  color: #1E1E1E;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.email-app a:hover {
  color: #D11434;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.contact-header-text h4 {
  color: #DA435D;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.contact-header-text p {
  font-size: 1.4rem;
  color: #787878;
}

.help-block.with-errors li {
  color: #DA435D;
  list-style: none;
  font-size: 1.3rem;
}

.request-quote-text {
  margin-bottom: 2rem;
  text-align: center;
  display: none;
}
.request-quote-text.active {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  z-index: 20;
  isolation: isolate;
  left: 2.4rem;
  right: 2.4rem;
}
.header a {
  color: #D2D2D2;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  height: 5.2rem;
  background-color: #1E1E1E;
  border-radius: 2rem;
  outline: 4px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  max-width: 119.6rem;
}
@media (max-width: 1200px) {
  .header .header-container {
    padding: 0 2.5rem;
  }
}
@media (max-width: 991px) {
  .header .header-container {
    outline: 0;
    max-width: 120rem;
  }
}
.header nav {
  display: flex;
  gap: 4rem;
}
.header nav .nav-item {
  cursor: pointer;
}
.header nav .nav-item::before {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  width: 0;
  background-color: white;
  height: 1px;
  transition: width 0.1s linear;
}
.header nav .nav-item.open::before, .header nav .nav-item:hover::before {
  width: 2rem;
}
@media (max-width: 991px) {
  .header nav .nav-item.open::before, .header nav .nav-item:hover::before {
    display: none;
  }
}
@media (max-width: 991px) {
  .header nav .nav-item.open:not(.nav-dropdown), .header nav .nav-item:hover:not(.nav-dropdown) {
    background-color: #353535;
  }
}
@media (max-width: 991px) {
  .header nav .nav-item.nav-dropdown.open {
    align-items: center;
  }
}
@media (max-width: 991px) {
  .header nav .nav-item.nav-dropdown.open::before {
    width: 4rem;
    display: block;
    bottom: unset;
    top: 4.7rem;
    z-index: 1;
  }
}
@media (max-width: 991px) {
  .header nav .nav-item {
    padding: 1.485rem 0.8rem;
    border-radius: 2rem;
  }
}
.header nav .submenu-items .nav-item {
  white-space: nowrap;
  align-items: center;
}
.header nav .submenu-items .nav-item::before {
  display: none;
}
.header nav .submenu-items .nav-item::after {
  content: "";
  font-family: uicons-regular-straight !important;
  margin-left: auto;
  padding-left: 1.6rem;
  width: 1.6rem;
}
.header nav .submenu-items .nav-item:hover::after, .header nav .submenu-items .nav-item.active::after {
  content: "\f180";
}
@media (max-width: 991px) {
  .header nav {
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 28rem;
    gap: 0.8rem;
    overflow-y: auto;
  }
}
@media (max-width: 991px) {
  .header nav .nav-dropdown {
    position: relative;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header nav .nav-dropdown .dropdown {
    position: relative;
    transform: unset;
    background-color: #353535;
    margin-bottom: 1.485rem;
    width: 100%;
    margin-top: 1rem;
  }
  .header nav .nav-dropdown .dropdown .submenu-items .nav-item:hover {
    background-color: #1E1E1E;
  }
  .header nav .nav-dropdown.open {
    background-color: #353535;
  }
}
.header nav > .nav-item {
  font-size: 1.8rem;
}
.header nav > .nav-dropdown > .nav-item {
  font-size: 1.8rem;
}
.header .nav-item {
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: center;
  transition: color 0.1s linear;
  color: #D2D2D2;
  font-size: 1.6rem;
}
.header .nav-item.active, .header .nav-item:hover {
  color: white;
}
.header .copy-link {
  white-space: nowrap;
  cursor: pointer;
}
@media (max-width: 991px) {
  .header-center {
    position: fixed;
    inset: 0;
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.2s ease-out;
    padding-top: 15.6rem;
  }
  .header-center.show {
    transform: translateY(0%);
    overflow-y: auto;
  }
  .header-center.show + .header-right .share-dropdown {
    display: none;
  }
}
.header-right {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.header-right i {
  color: #D2D2D2;
}
@media (max-width: 991px) {
  .header-right .lang-dropdown {
    display: none;
  }
}

.menu-switch {
  font-size: 1.6rem;
  color: white;
  display: flex;
  cursor: pointer;
}
@media (min-width: 992px) {
  .menu-switch {
    display: none;
  }
}

.nav-dropdown .dropdown {
  display: none;
  position: absolute;
  transform: translateY(45px);
  background-color: #1E1E1E;
  border-radius: 2rem;
  padding: 4px;
}
.nav-dropdown .dropdown .submenu-items {
  justify-content: flex-start;
  flex-direction: column;
}
.nav-dropdown .dropdown .submenu-items .nav-item {
  padding: 1.2rem;
  justify-content: flex-start;
  border-radius: 1.6rem;
}
.nav-dropdown .dropdown .submenu-items .nav-item:hover {
  background-color: #4B4B4B;
}
@media (max-width: 991px) {
  .nav-dropdown .dropdown .submenu-items .nav-item {
    display: flex;
    text-align: center;
  }
  .nav-dropdown .dropdown .submenu-items .nav-item::after {
    display: none;
  }
}
.nav-dropdown.open .dropdown {
  display: block;
}
@media (max-width: 991px) {
  .nav-dropdown.open > .nav-item {
    color: white;
  }
}

.lang-dropdown::before {
  display: none;
}
.lang-dropdown > a::before {
  display: none;
}
.lang-dropdown .dropdown {
  transform: translate(-20px, 45px);
}

.lang-select a {
  align-items: center;
}
.lang-select a::before {
  display: none;
}
.lang-select i {
  font-size: 1.4rem;
  margin-left: auto;
  padding-left: 2.6rem;
  padding-right: 0.2rem;
  top: 2px;
  position: relative;
}
.lang-select img {
  margin-right: 5px;
}

.share-dropdown::before {
  display: none;
}
.share-dropdown > i {
  font-size: 1.6rem;
  display: flex;
  cursor: pointer;
}
.share-dropdown:hover > i {
  color: white;
}
.share-dropdown .nav-item {
  align-items: center;
}
.share-dropdown .nav-item img {
  display: flex;
  height: 19px;
}
.share-dropdown .nav-item i {
  font-size: 1.6rem;
  color: white;
}
.share-dropdown .nav-item img, .share-dropdown .nav-item i {
  margin-right: 7px;
}

.active-language {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
@media (max-width: 991px) {
  .active-language {
    display: none !important;
  }
}
.active-language i {
  font-size: 1.6rem;
  margin-right: 4px;
  display: flex;
}

@media (min-width: 992px) {
  .mobile-menu-footer {
    display: none;
  }
}
.mobile-menu-footer .lang-dropdown .lang-select {
  display: flex;
}
@media (max-width: 991px) {
  .mobile-menu-footer .lang-dropdown .lang-select i {
    display: none;
  }
}
.mobile-menu-footer .lang-dropdown .lang-select .nav-item {
  padding: 0.6rem 1.2rem !important;
}
.mobile-menu-footer .lang-dropdown .lang-select .nav-item.active {
  background-color: #353535;
}
@media (max-width: 991px) {
  .mobile-menu-footer .lang-dropdown .dropdown {
    transform: unset;
    display: flex !important;
    position: static;
  }
}
@media (max-width: 991px) {
  .mobile-menu-footer {
    transform: unset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }
}

.socials {
  display: flex;
  gap: 2rem;
}

.footer {
  min-height: 14.4rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.footer-container {
  color: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem 0;
}
@media (max-width: 1200px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
    max-width: 36rem;
  }
  .footer-container > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  .footer-container > *:not(:first-child) {
    margin-top: 1rem;
  }
  .footer-container .btn {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .footer-container {
    max-width: unset;
  }
}
.footer-container a {
  color: #1E1E1E;
}
.footer-container h3 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .footer-container h3 {
    display: none;
  }
}
.footer-container a:hover {
  color: #D11434;
}
.footer-container a:hover i {
  color: #D11434;
}
@media (max-width: 1200px) {
  .footer-container a {
    font-size: 1.4rem;
  }
}
.footer-container .fi {
  font-size: 1.6rem;
  display: inline-flex;
}
.footer-container .contact {
  display: flex;
  align-items: center;
}
.footer-container .contact .fi {
  margin-right: 5px;
}

.footer-border {
  width: 1px;
  height: 4.4rem;
  background-color: #E88999;
  display: inline-block;
}
@media (max-width: 1200px) {
  .footer-border {
    height: 2.4rem;
  }
  .footer-border:not(.footer-border-mobile) {
    display: none;
  }
}
.footer-border-horizontal {
  height: 1px;
  width: 100%;
  background-color: #E88999;
  display: inline-block;
}
@media (min-width: 1201px) {
  .footer-border-horizontal {
    display: none;
  }
}

.footer-group {
  display: flex;
  align-items: center;
  gap: 2.1rem;
}
@media (max-width: 1200px) {
  .footer-group {
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }
}

@media (max-width: 1200px) {
  .copyright {
    font-size: 1.2rem;
  }
  .copyright span {
    font-size: inherit;
  }
}

.image-modal {
  position: fixed;
  inset: 50px;
  z-index: 9999;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .image-modal {
    inset: 0;
  }
}
.image-modal::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 12, 22, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.image-modal .current-image {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-height: 85vh;
  position: relative;
}
.image-modal img {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  max-width: calc(100% - 3rem);
  height: -moz-fit-content;
  height: fit-content;
  max-height: 85vh;
}
@media (max-width: 991px) {
  .image-modal img {
    max-width: calc(100% - 7.3rem);
  }
}
.image-modal .next-image,
.image-modal .prev-image {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  bottom: 0;
}
.image-modal .next-image i,
.image-modal .prev-image i {
  display: block;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 991px) {
  .image-modal .next-image,
  .image-modal .prev-image {
    padding: 1rem;
  }
}
.image-modal .next-image {
  right: 0;
}
.image-modal .prev-image {
  left: 0;
}
.image-modal .image-close {
  color: white;
  position: fixed;
  bottom: 2rem;
  z-index: 2;
  cursor: pointer;
  font-size: 2.4rem;
}
.image-modal.modal-out .current-image img {
  animation: imageOut 0.4s ease-in forwards;
}
.image-modal.modal-out::after {
  animation: blurOut 0.4s linear 0.4s forwards;
}

@keyframes imageOut {
  from {
    max-height: 85vh;
    transform: translate(0, 0);
  }
  to {
    max-height: 0vh;
    transform: translate(50vw, -68vh);
  }
}
@keyframes blurOut {
  from {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background-color: rgba(0, 12, 22, 0.5);
  }
  to {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    background-color: rgba(0, 12, 22, 0);
  }
}
.feature-image {
  width: 100%;
}

input, textarea, select {
  border: 1px solid #D2D2D2;
  outline: 0;
  padding: 9px 12px;
  width: 100%;
  border-radius: 0.8rem;
  color: #626262;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  border: 1px solid #D2D2D2;
  -webkit-text-fill-color: #1E1E1E;
  -webkit-box-shadow: 0 0 0px 200px white inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
input.disabled, textarea.disabled, select.disabled {
  opacity: 0.65;
  pointer-events: none;
}
input:focus, textarea:focus, select:focus {
  border-color: #A5A5A5;
}

@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  input, textarea, select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0;
  }
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
  position: relative;
}
.input-wrapper-icon input, .input-wrapper-icon select {
  padding-left: 6.2rem;
}
.input-wrapper-icon img {
  position: absolute;
  font-size: 2rem;
  bottom: 0.9rem;
  left: 1.6rem;
  pointer-events: none;
  color: #626262;
  width: 3rem;
  height: 3rem;
  width: 3rem;
  height: 3rem;
}
.input-wrapper-split {
  display: flex;
  gap: 2rem;
}
.input-wrapper-split .input-wrapper {
  width: 100%;
}
@media (max-width: 650px) {
  .input-wrapper-split {
    flex-direction: column;
  }
}
.input-wrapper label {
  margin-bottom: 0.5rem;
  transition: all 0.3s linear;
}
.input-wrapper.hidden-field {
  display: none;
}

.btn {
  border: 0;
  padding: 1.2rem 1.6rem;
  outline: 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn[type=submit] {
  width: 100%;
}
.btn img, .btn .fi {
  display: inline-flex;
  margin-right: 0.8rem;
  font-size: inherit;
}
.btn-primary {
  background-color: #1E1E1E;
  color: #E8E8E8;
}
.btn-primary:hover {
  background-color: #D11434;
}
.btn-secondary {
  background-color: #DCDCDC;
  color: #4B4B4B;
}
.btn-secondary:hover {
  background-color: #8F8F8F;
}
.btn-white {
  background-color: transparent;
  color: #1E1E1E;
}
.btn-white:hover {
  background-color: #E8E8E8;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  z-index: 9998;
  background-color: rgba(143, 143, 143, 0.9);
  overflow-y: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.modal .modal {
  z-index: 9999;
}
.modal.show {
  display: flex;
}

.modal-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 62rem;
  z-index: 9999;
  margin: auto 15px auto 15px;
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}
.modal-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  min-height: 4.4rem;
  margin-bottom: 2rem;
}
.modal-content-header .modal-title {
  font-size: 2.4rem;
}
.modal-content-body {
  min-height: 1rem;
  scrollbar-width: none;
}
.modal-content-body::-webkit-scrollbar {
  width: 0;
}
.modal-content-body h2 {
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}
.modal-content .modal-close {
  cursor: pointer;
  transition: all 0.1s linear;
  font-size: 1.6rem;
  display: flex;
  padding: 1.4rem;
  border-radius: 0.8rem;
}
.modal-content .modal-close:hover {
  background-color: #E8E8E8;
}

.modal .modal-xs {
  max-width: 240px;
}

.modal .modal-sm {
  max-width: 400px;
}

.modal .modal-l {
  max-width: 940px;
}

.modal .modal-workshop {
  max-width: 1000px;
}

.modal .modal-l-full-h {
  max-width: 1200px;
  height: 100vh;
  margin: 0;
}

.modal .modal-xl {
  max-width: 1920px;
}
.modal .modal-xl .floor-view {
  max-height: 100vh;
}

.modal .modal-responsive {
  width: 100%;
  max-height: calc(100vh - 2rem);
  max-width: unset;
}

.animation-container,
.cross-shapes {
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 100%;
}

.floating-img {
  position: absolute;
}

.counter-2 {
  top: 9%;
  left: -8%;
  max-height: 24vw;
  transform: rotate(45deg);
  filter: blur(3px);
}
@media (max-width: 1199px) {
  .counter-2 {
    max-height: 27vh;
    left: -3%;
    top: 0%;
  }
}

.suitcase-2 {
  bottom: 24%;
  left: 8.4rem;
  max-height: 10vw;
  transform: rotate(-30deg);
}

.safe-1 {
  bottom: 14%;
  right: 24%;
  max-height: 10vw;
  transform: rotate(15deg);
}

.safe-2 {
  bottom: 5%;
  left: 16%;
  max-height: 19vw;
  transform: rotate(140deg);
}
@media (max-width: 1199px) {
  .safe-2 {
    max-height: 23vh;
    left: -5%;
    bottom: 9%;
  }
}

.safe-3 {
  top: 30%;
  right: 0;
  max-height: 35vw;
}

.lock {
  top: 5%;
  right: 0;
  max-height: 28vw;
  filter: blur(3px);
}
@media (max-width: 1199px) {
  .lock {
    top: unset;
    bottom: 0%;
    max-height: 40vh;
    transform: unset;
    right: 0;
  }
}

.coin-1 {
  top: 30%;
  left: 30%;
  max-height: 7.4rem;
}
@media (max-width: 1199px) {
  .coin-1 {
    top: 14%;
    max-height: 5vh;
    left: unset;
    right: 30%;
  }
}

.coin-2 {
  top: -5rem;
  left: 34%;
  max-height: 15vw;
  transform: rotate(30deg);
}

.coin-3 {
  top: 20%;
  right: 25%;
  max-height: 10.9rem;
  transform: rotate(30deg);
}
@media (max-width: 1199px) {
  .coin-3 {
    top: 30%;
    right: -4%;
    max-height: 10vh;
  }
}

.logo-shape {
  top: 10.3rem;
  left: 4.3rem;
  max-height: 21.3rem;
}
@media (max-width: 1199px) {
  .logo-shape {
    top: unset;
    bottom: 3%;
    left: -16%;
  }
}

.logo-shape-big {
  max-height: 27vw;
  width: 100%;
  right: -45%;
  top: 12%;
}

.logo-shape-small {
  max-height: 13rem;
  bottom: 15%;
  left: 30%;
}
@media (max-width: 1199px) {
  .logo-shape-small {
    bottom: unset;
    top: 15%;
    left: unset;
    right: -12%;
  }
}

@media (max-width: 1200px) {
  .safe-1, .safe-3, .coin-2, .logo-shape-big, .suitcase-2 {
    display: none;
  }
}
.hero-blocks {
  display: flex;
  width: 100%;
  gap: 2rem;
}
@media (max-width: 1200px) {
  .hero-blocks {
    flex-wrap: wrap;
  }
}

.hero-block {
  display: flex;
  border-radius: 2rem;
  padding: 2rem;
  background-color: white;
  flex-basis: 100%;
  gap: 2rem;
}
.hero-block-text h3 {
  font-size: 2.4rem;
  color: #D11434;
  margin-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .hero-block-text h3 {
    font-size: 2rem;
  }
}
.hero-block-text p {
  color: #1E1E1E;
}
@media (max-width: 991px) {
  .hero-block-text p {
    font-size: 1.4rem;
  }
}

.client-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  overflow: hidden;
  outline: 2px solid #E8E8E8;
  outline-offset: -1px;
}
.client-grid .client {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: #E8E8E8;
  border: 0.5px solid #D11434;
}
@media (max-width: 650px) {
  .client-grid .client img {
    max-width: 8.7rem;
  }
}
@media (max-width: 991px) {
  .client-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.client-grid + p {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.featured-display {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1200px) {
  .featured-display {
    flex-direction: column;
  }
}

.featured-block {
  background-color: #D11434;
  color: white;
  display: flex;
  border-radius: 2rem;
  width: 50%;
  overflow: hidden;
}
.featured-block-image {
  max-height: 26rem;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.featured-block-image img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  position: absolute;
}
@media (max-width: 991px) {
  .featured-block-image img {
    position: static;
    -o-object-position: top;
       object-position: top;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.featured-block-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 4rem 4rem 0;
}
.featured-block-text h4 {
  font-size: 2.1rem;
  font-weight: 400;
  text-transform: uppercase;
}
.featured-block-text h4 strong {
  font-weight: 700;
  font-size: inherit;
  display: block;
}
.featured-block-text .btn-featured {
  color: white;
  border: 1px solid white;
  gap: 0.8rem;
  font-weight: 500;
}
.featured-block-text .btn-featured i {
  font-size: inherit;
}
.featured-block-text .btn-featured:hover {
  background-color: white;
  color: #D11434;
}
@media (max-width: 991px) {
  .featured-block-text {
    padding: 2rem;
  }
}
@media (max-width: 1200px) {
  .featured-block {
    width: 100%;
  }
}
@media (max-width: 625px) {
  .featured-block {
    flex-direction: column-reverse;
  }
}
.featured-block:first-child .featured-block-image img {
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .nav-categories .dropdown {
    max-width: calc(100vw - 6.8rem);
    width: 119.6rem;
    transform: translate(8.2rem, 4.5rem);
  }
}
@media (max-width: 991px) {
  .nav-categories .dropdown .section-title {
    display: none;
  }
}
@media (max-width: 991px) {
  .nav-categories .dropdown {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .nav-categories .dropdown {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .nav-about + .dropdown {
    padding: 0;
  }
  .nav-about + .dropdown .submenu-items .nav-item {
    display: block;
    text-align: center;
  }
  .nav-about + .dropdown .submenu-items .nav-item::after {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav-product-categories {
    padding: 2.4rem;
  }
}
.nav-product-categories .category-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media (max-width: 991px) {
  .nav-product-categories .category-gallery {
    grid-template-columns: 1fr;
  }
}
.nav-product-categories .category-gallery .nav-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid #353535;
  padding: 0.8rem;
  transition: all 0.1s linear;
}
.nav-product-categories .category-gallery .nav-category img {
  max-height: 6.4rem;
}
@media (max-width: 991px) {
  .nav-product-categories .category-gallery .nav-category img {
    max-height: 4.8rem;
  }
}
.nav-product-categories .category-gallery .nav-category span {
  color: #D2D2D2;
}
.nav-product-categories .category-gallery .nav-category:hover {
  background-color: #353535;
}
.nav-product-categories .category-gallery .nav-category:hover span {
  color: white;
}
@media (max-width: 991px) {
  .nav-product-categories .category-gallery .nav-category:hover {
    background-color: #1E1E1E;
  }
}
@media (max-width: 991px) {
  .nav-product-categories .category-gallery .nav-category {
    border-radius: 1.2rem;
  }
}

.product {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1.6rem;
  background-color: white;
  transition: all 0.2s ease-out;
  position: relative;
}
.product img {
  max-height: 25.4rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 2rem;
}
.product .product-category {
  color: #787878;
  margin-bottom: 0.2rem;
}
.product .product-name {
  font-size: 2.4rem;
  color: #D11434;
}
.product:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.102);
}
.product:hover::before {
  content: "\f17d";
  position: absolute;
  font-family: uicons-regular-straight;
  color: #D11434;
  top: 0.6rem;
  right: 1.3rem;
  font-size: 2.4rem;
}

.owl-carousel .owl-nav.disabled {
  display: flex !important;
}

.product-shapes .logo-shape-extra-small {
  top: 8.8rem;
  right: 7.4rem;
}
.product-shapes .logo-shape-big {
  right: -60%;
  top: 60%;
}
.product-shapes .logo-shape-small {
  left: -6%;
  top: 12%;
}
.product-shapes .logo-shape-small-2 {
  top: 80vh;
  left: 6%;
}

.product-container {
  display: flex;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  gap: 2rem;
  margin-bottom: 12rem;
}
@media (max-width: 991px) {
  .product-container {
    flex-direction: column-reverse;
  }
}
.product-container .product-column-left {
  width: 40rem;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .product-container .product-column-left {
    width: 100%;
  }
}
.product-container .product-column-right {
  flex-grow: 1;
}
.product-container .product-column-right .product-column-left {
  margin-bottom: 4rem;
}

.category-container {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
}

.product-image-slider {
  max-height: 40rem;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  overflow: hidden;
}
.product-image-slider .owl-nav {
  align-items: center;
  width: unset;
  left: 0.4rem;
  right: 0.4rem;
}
.product-image-slider .owl-nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  background: unset !important;
  width: 4.4rem;
  height: 4.4rem;
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #353535;
}
.product-image-slider .owl-nav button i {
  display: flex;
  font-size: 1.9rem;
}
.product-image-slider .owl-nav button:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.product-actions {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.product-actions .btn {
  flex-basis: 100%;
  color: #1E1E1E;
}
.product-actions .btn:hover {
  background-color: #1E1E1E;
  color: white;
}
@media (max-width: 768px) {
  .product-actions {
    flex-direction: column;
  }
  .product-actions .btn {
    width: 100%;
  }
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.product-header .product-name span {
  color: #787878;
  font-size: 1.8rem;
}
.product-header .product-name h1 {
  font-size: 3.6rem;
  font-weight: 900;
  color: #D11434;
}
.product-header a {
  font-weight: 500;
}
.product-header a i {
  display: flex;
  font-size: inherit;
}
.product-header a:hover {
  color: #1E1E1E;
}

.product-attributes-detailed {
  border-radius: unset;
  gap: 0.8rem;
  margin-bottom: 2rem;
}
.product-attributes-detailed .attribute {
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.product-attributes-detailed .attribute::before {
  font-size: 2.4rem;
}
.product-attributes-detailed .attribute-description {
  font-size: 1.4rem;
}
.product-attributes-detailed .attribute.attribute-available::before {
  color: #8F8F8F;
}
.product-attributes-detailed .attribute.attribute-unavailable::before {
  content: "\f459";
  color: #E88999;
}

.basic-attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}
@media (max-width: 1150px) {
  .basic-attributes {
    grid-template-columns: 1fr;
  }
}
.basic-attributes .basic-attribute {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border-bottom: 1px solid #D2D2D2;
  padding: 2rem 0;
}
.basic-attributes .basic-attribute i {
  font-size: 3.2rem;
  color: #D2D2D2;
  display: flex;
}
.basic-attributes .basic-attribute-text span {
  font-size: 1.4rem;
  color: #4B4B4B;
}
.basic-attributes .basic-attribute-text h4 {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (min-width: 1151px) {
  .basic-attributes .basic-attribute:nth-child(even) i {
    padding-left: 2rem;
    border-left: 1px solid #D2D2D2;
  }
}

.additional-options h5 {
  color: #4B4B4B;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.additional-options p {
  display: flex;
  align-items: center;
  color: #1E1E1E;
}
.additional-options p::before {
  content: "\f180";
  font-family: uicons-regular-straight;
  color: #D2D2D2;
  font-size: 3.25rem;
}

.related-category-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
}
.related-category-products .related-product {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid #D2D2D2;
  padding: 0.4rem;
  transition: border 0.2s linear;
}
.related-category-products .related-product h5 {
  font-size: 1.6rem;
}
.related-category-products .related-product img {
  height: 5.2rem;
}
.related-category-products .related-product:hover {
  border-color: #1E1E1E;
}
.related-category-products .related-product:hover h5 {
  color: #1E1E1E;
}

.product-categories {
  border-radius: 2rem;
  background-color: #1E1E1E;
}
@media (max-width: 991px) {
  .product-categories .nav-product-categories {
    padding: 4rem 2rem 2rem 2rem;
  }
}
.product-categories .section-title {
  color: white;
}

.nav-categories .section-title {
  display: none;
}

[data-modal=product-to-compare] .related-category-products {
  flex-direction: column;
}

.compare-container {
  display: flex;
}
.compare-container .compare-column {
  flex-basis: 100%;
}
.compare-container .compare-column:first-child {
  padding-right: 1.9rem;
  border-right: 1px solid #E88999;
}
.compare-container .compare-column:last-child {
  padding-left: 2rem;
}
.compare-container .compare-feature-image {
  width: 100%;
}
.compare-container .basic-attributes {
  grid-template-columns: 1fr;
}
.compare-container .basic-attributes .basic-attribute:nth-child(even) i {
  padding-left: 0;
  border-left: 0;
}

.contact-shapes .logo-shape-extra-small {
  top: 7.5rem;
  left: 2rem;
}

.static-tabs {
  display: flex;
  align-items: center;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2rem;
  padding: 0.4rem;
  gap: 0.4rem;
  background-color: white;
  height: -moz-fit-content;
  height: fit-content;
}
.static-tabs .static-tab {
  color: #1E1E1E;
  font-weight: 500;
  padding: 1.6rem;
  border-radius: 1.6rem;
  font-size: 1.6rem;
}
.static-tabs .static-tab:not(.active) {
  cursor: pointer;
}
.static-tabs .static-tab:not(.active):hover {
  background-color: #E8E8E8;
}
.static-tabs .static-tab.active {
  color: white;
  background-color: #1E1E1E;
}

.contact-block {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.102);
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
}
@media (max-width: 991px) {
  .contact-block {
    flex-direction: column;
  }
}
.contact-block:not(:last-child) {
  margin-bottom: 8rem;
}
@media (min-width: 992px) {
  .contact-block-left, .contact-block-right {
    flex-basis: 50%;
  }
}
.contact-block-left {
  padding: 4rem;
}
@media (max-width: 991px) {
  .contact-block-right {
    height: 500px;
  }
}
.contact-block-title:not(:last-child), .contact-block-item:not(:last-child) {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid;
}
.contact-block-title {
  font-size: 2.4rem;
  border-color: #D11434;
  color: #D11434;
}
.contact-block-item {
  border-color: #1E1E1E;
  color: #1E1E1E;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.contact-block-item .contact-block-icon {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.contact-block-item .contact-block-icon i {
  font-size: 3.2rem;
  color: #D2D2D2;
  display: flex;
}
.contact-block-item .contact-block-data {
  display: flex;
  flex-direction: column;
}
.contact-block-item .contact-block-data span {
  color: #4B4B4B;
  font-size: 1.4rem;
}
.contact-block-item .contact-block-data a, .contact-block-item .contact-block-data strong {
  color: #1E1E1E;
  font-weight: 700;
  font-size: 1.8rem;
  display: flex;
}

.success-message {
  color: #2EA822;
}

.error-message {
  color: #D11434;
}

.send-message {
  margin-top: 2rem;
  text-align: center;
}

.device-replace-all {
  background-color: #1E1E1E;
  color: white;
  border-radius: 2rem;
  display: flex;
}
@media (max-width: 991px) {
  .device-replace-all {
    flex-direction: column;
  }
}
.device-replace-all .left-block {
  padding: 4rem;
  flex-basis: 60%;
}
.device-replace-all h2 {
  font-size: 3.6rem;
  font-weight: 900;
  margin-bottom: 4rem;
}
.device-replace-all .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-bottom: 4rem;
}
.device-replace-all .tag-list span {
  background-color: #353535;
  color: white;
  border-radius: 0.8rem;
  padding: 0.8rem;
}
.device-replace-all .tag-list span::before {
  content: "#";
  color: #8F8F8F;
}
.device-replace-all .right-block {
  flex-basis: 40%;
}
.device-replace-all .right-block .img-background {
  width: 100%;
  height: 100%;
  position: relative;
}
.device-replace-all .right-block .img-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media (max-width: 991px) {
  .device-replace-all .right-block .img-background img {
    flex-direction: column;
    position: relative;
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 60vh;
  }
}

.device-feature-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.device-feature-list li {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.device-feature-list li i {
  font-size: 2.4rem;
  color: #8F8F8F;
  display: flex;
}

.deposit-device-features {
  display: flex;
}
@media (max-width: 991px) {
  .deposit-device-features {
    flex-direction: column-reverse;
    gap: 4rem;
  }
}
.deposit-device-features h2 {
  font-size: 3.6rem;
  font-weight: 900;
  margin-bottom: 4rem;
  color: #D11434;
}
.deposit-device-features .device-feature-list li {
  padding: 1.2rem;
  border: 1px solid #D2D2D2;
  border-radius: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.3s ease-out;
  cursor: context-menu;
}
.deposit-device-features .device-feature-list li:hover {
  border-color: #D11434;
  background-color: #FAE7EB;
  color: #D11434;
}
.deposit-device-features .left-block {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 991px) {
  .deposit-device-features .left-block img {
    width: 100%;
  }
}

.pointers span {
  position: absolute;
  width: 4rem;
  height: 4rem;
  box-shadow: 0px 0px 40px 40px rgba(188, 18, 47, 0.502);
  border-radius: 0.8rem;
  border: 1px solid #E88999;
  display: none;
  animation: popIn 0.2s ease-out forwards;
  transform-origin: center;
}
.pointers span.active {
  display: block;
}
.pointers .bar-code-1 {
  top: 33%;
  right: 39%;
}
.pointers .bar-code-2 {
  right: 17%;
  top: 26%;
}
.pointers .banknote-counter {
  top: 7%;
  right: 38%;
}
.pointers .detection {
  top: 15%;
  right: 33%;
}
.pointers .coin-counter-1 {
  top: 26%;
  right: 57.8%;
}
.pointers .coin-counter-2 {
  top: 39.5%;
  right: 53.4%;
}
.pointers .security-1 {
  top: 70%;
  right: 47%;
}
.pointers .security-2 {
  top: 62%;
  right: 22%;
}
.pointers .thermal-printer {
  top: 19%;
  right: 18.4%;
}
.pointers .software {
  top: 22%;
  right: 29%;
}

@keyframes popIn {
  0% {
    transform: scale(0);
    box-shadow: 0px 0px 0px 0px rgba(188, 18, 47, 0.502);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 40px 40px rgba(188, 18, 47, 0.502);
  }
}
.deposit-video {
  background-color: #D11434;
  color: white;
  border-radius: 2rem;
  padding: 4rem;
  display: flex;
  gap: 4rem;
}
@media (max-width: 1025px) {
  .deposit-video {
    flex-direction: column;
  }
}
.deposit-video .text-block {
  flex-basis: 45%;
}
.deposit-video .video-block {
  flex-basis: 55%;
}
.deposit-video .video-block .video-iframe {
  position: relative;
}
.deposit-video .video-block .video-iframe iframe {
  position: absolute;
  border-radius: 0.8rem;
  overflow: hidden;
}
@media (max-width: 1025px) {
  .deposit-video .video-block .video-iframe iframe {
    position: relative;
    flex-direction: column;
  }
}
.deposit-video h2 {
  font-size: 6rem;
  margin-bottom: 4rem;
  font-weight: 900;
}
.additional-features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
}
.additional-features .additional-feature {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
}
.additional-features .additional-feature i {
  font-size: 4rem;
  display: flex;
  color: #8F8F8F;
}

.customize-device {
  background-image: url(../images/vivex-sistemi-za-uplatu-novca-sdn.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  overflow: hidden;
}
.customize-device .device-customize-text {
  background: linear-gradient(90.01deg, #FFFFFF 49.99%, rgba(255, 255, 255, 0) 99.99%);
  width: 30%;
  padding: 4rem;
  font-size: 3.6rem;
  font-weight: 900;
}
@media (max-width: 1145px) {
  .customize-device .device-customize-text {
    width: 36rem;
  }
}

.company-history h2 {
  color: #D11434;
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 4rem;
}

.history-waterfall {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.time-point {
  display: flex;
  gap: 0.8rem;
}
.time-point-date span {
  color: #D11434;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
}
.time-point-date span::after {
  content: "";
  width: 1px;
  height: 100%;
  min-height: 4.4rem;
  flex-grow: 1;
  background-color: #E88999;
}
.time-point-description h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #D11434;
  margin-bottom: 0.5rem;
}
.time-point:last-child .time-point-date span::after {
  display: none;
}/*# sourceMappingURL=main.css.map */