input, textarea, select {
    border: 1px solid $black-20;
    outline: 0;
    padding: 9px 12px;
    width: 100%;
    border-radius: .8rem;
    color: $black-70;

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
    border: 1px solid $black-20;
    -webkit-text-fill-color: $black;
    -webkit-box-shadow: 0 0 0px 200px white inset;
    transition: background-color 5000s ease-in-out 0s;
    }

    &.disabled {
        opacity: .65;
        pointer-events: none;
    }

    &:focus {
        border-color: $black-40;
    }
}  


@media not all and (min-resolution:.001dpcm) { 
    input, textarea, select  { 
        appearance: none;
        border-radius: 0;
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    transition: all .3s linear;
    position: relative;

    &-icon {
        input, select {
            padding-left: 6.2rem;
        }

        img {
            position: absolute;
            font-size: 2rem;
            bottom: .9rem;
            left: 1.6rem;
            pointer-events: none;
            color:$black-70;
            width: 3rem;
            height: 3rem;
            width: 3rem;
            height: 3rem;
        }
    }

    &-split {
        display: flex;
        gap: 2rem;

        .input-wrapper {
            width: 100%;
        }

        @media(max-width: 650px) {
            flex-direction: column;
        }
    }

    label {
        margin-bottom: .5rem;
        transition: all .3s linear;
    }

    &.hidden-field {
        display: none;
    }
}
