.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  z-index: 9998;
  background-color: rgba($black-50, .9);
  overflow-y: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  .modal {
    z-index: 9999;
  }

  &.show {
    display: flex;
  }
}

.modal-content {
  width: 100%;
  height: fit-content;
  max-width: 62rem;
  z-index: 9999;
  margin: auto 15px auto 15px;
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    min-height: 4.4rem;
    margin-bottom: 2rem;

    .modal-title {
      font-size: 2.4rem;
    }
  }

  &-body {
    min-height: 1rem;

    h2 {
      font-size: 2.8rem;
      margin-bottom: 2.8rem;
    }
  }

  .modal-close {
    cursor: pointer;
    transition: all 0.1s linear;
    font-size: 1.6rem;
    display: flex;
    padding: 1.4rem;
    border-radius: .8rem;
    color: $black-60;

    &:hover {
      background-color: $black-10;
      color: black;
    }

    &:active {
      background-color: $black-20;
    }
  }
}

.modal .modal-xs {
  max-width: 240px;
}
.modal .modal-sm {
  max-width: 400px;
}

.modal .modal-l {
  max-width: 940px;
}

.modal .modal-workshop {
  max-width: 1000px;
}

.modal .modal-l-full-h {
  max-width: 1200px;
  height: 100vh;
  margin: 0;
}
.modal .modal-xl {
  max-width: 1920px;

  .floor-view {
    max-height: 100vh;
  }
}

.modal .modal-responsive {
  width: 100%;
    max-height: calc(100vh - 2rem);
    max-width: unset;
}