main {
    padding: 0 6rem;
    height: 80vh;


    @media(max-width: 1200px) {
        padding: 0 2.5rem;
    }
}

.header-container,
.section-container,
.footer-container {
    max-width: 120rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header-container {
  max-width: 119.6rem;
}

.logo {
  width: 15rem;
}

.section-container {
    &-row {
        display: flex;
        gap: 4rem;

        @media(max-width: 991px) {
            flex-direction: column;
        }
        
        .section-container-column {
            flex-basis: 50%;

            @media(max-width: 991px) {
                flex-basis: 100%;
            }
        }
    }
}

.landing {
  min-height: 100vh;
}

.cookie-consent-banner {
    position: fixed;
    z-index: 10;
    left: 0;
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    color: white;
  
    .cookie-wrapper {
      background-color: rgba($black, 0.9);
      max-width: 80%;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;
  
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  
    p {
      font-size: 1.2rem;
    }
  
    .btn-wrapper {
      display: flex;
      gap: 1.5rem;
    }
  }

  .thank-you, .simple-page {
    display: flex;
    min-height: 100vh;
    padding-top: 15rem;

    .section-desc {
        margin-bottom: 3.1rem;
    }
  }


  #price, .chosen-apartment {
    text-align: right;
    margin-bottom: 2rem;
    font-size: 2rem;

    span {
        font: inherit;
        font-weight: 600;
    }
  }

  .chosen-apartment {
    margin-bottom: 1.3rem;
  }

  .reservation-floating {
    position: fixed;
    bottom: 0;
    right: 2rem;
    transition: all .3s ease-out;
    transform: translateY(0%);
    z-index: 30;
  }

  .reservation-static {
    &.in-viewport {
        + .reservation-floating {
            transform: translateY(100%);
        }
    }
  }

.copy-notif {
  position: fixed;
  top: 0;
  background-color: $black-90;
  padding: .5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: copy 3s ease-out;
  z-index: 9999;
  transform: translateY(-3rem);
  align-items: center;
  color: white;
  font-size: 1.6rem;

  .lnc {
    font-size: 1.6rem;
    margin-right: .5rem;
  }
}

@keyframes copy {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}