main {
  section {
    padding: 4rem 2rem;

    &.section-pt-0 {
      padding-top: 0;
    }

    &.section-pb-0 {
      padding-bottom: 0;
    }
  }
}

.header-container,
.section-container,
.footer-container {
    max-width: 120rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.section-title, .section-title-main {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 2.4rem;
  font-weight: 700;

  &::after {
    content: '';
    width: 4rem;
    height: 1px;
    background-color: $primary;
    margin: 2rem 0;
  }
}

h1 {
  &.section-title-main {
    color: $primary;
    font-size: 3.6rem;
  
    @media(max-width: 991px) {
      font-size: 2.6rem;
    }

    + .section-subtitle {
      text-align: center;
    }
  }
}

h3 {
  &.section-title-main {
    color: $primary;
    font-size: 2.4rem;

    &::after {
      background-color: $black;
    }
  
    @media(max-width: 991px) {
      font-size: 2rem;
    }
  }
}

.logo {
  width: 15rem;
}

.section-container {
    &-row {
        display: flex;
        gap: 4rem;

        @media(max-width: 991px) {
            flex-direction: column;
        }
        
        .section-container-column {
            flex-basis: 50%;

            @media(max-width: 991px) {
                flex-basis: 100%;
            }
        }
    }

    &.section-column {
      flex-direction: column;
    }
}

.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;

  h1 {
    text-align: center;
    max-width: 68rem;
    margin: auto;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.2;

    strong {
      font-weight: inherit;
    }

    @media(max-width: 991px) {
      font-size: 3.2rem;
    }
  }
}

.page-padding {
  padding-top: 18rem;

  
  @media(max-width: 991px) {
    padding-top: 11rem;
  }
}

.section-description {
  color: $black;
  text-align: center;
  margin-bottom: 8rem;
}

.cookie-consent-banner {
    position: fixed;
    z-index: 10;
    left: 0;
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    color: white;
  
    .cookie-wrapper {
      background-color: rgba($black, 0.9);
      max-width: 80%;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;
  
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  
    p {
      font-size: 1.2rem;
    }
  
    .btn-wrapper {
      display: flex;
      gap: 1.5rem;
    }
  }

  .thank-you, .simple-page {
    display: flex;
    min-height: 100vh;
    padding-top: 15rem;

    .section-desc {
        margin-bottom: 3.1rem;
    }
  }


  #price, .chosen-apartment {
    text-align: right;
    margin-bottom: 2rem;
    font-size: 2rem;

    span {
        font: inherit;
        font-weight: 600;
    }
  }

  .chosen-apartment {
    margin-bottom: 1.3rem;
  }

  .reservation-floating {
    position: fixed;
    bottom: 0;
    right: 2rem;
    transition: all .3s ease-out;
    transform: translateY(0%);
    z-index: 30;
  }

  .reservation-static {
    &.in-viewport {
        + .reservation-floating {
            transform: translateY(100%);
        }
    }
  }

.copy-notif {
  position: fixed;
  top: 0;
  background-color: $black-90;
  padding: .5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: copy 3s ease-out;
  z-index: 9999;
  transform: translateY(-3rem);
  align-items: center;
  color: white;
  font-size: 1.6rem;

  .lnc {
    font-size: 1.6rem;
    margin-right: .5rem;
  }
}

@keyframes copy {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

.owl-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  top: 0;
  pointer-events: none;
  z-index: 10;

  button {
    pointer-events: all;
    width: 6rem;

    &:first-child {
      background: linear-gradient(90deg, #E8E8E8 0%, rgba(232, 232, 232, 0) 100%)!important;
    }

    &:last-child {
      background: linear-gradient(270deg, #E8E8E8 0%, rgba(232, 232, 232, 0) 100%)!important;
    }

    i {
      font-size: 1.6rem;
    }
  }
}

.category-shapes {
  .logo-shape {
      right: -10%;
      left: unset;
  }

  .logo-shape-small {
      right: -11%;
      left: unset;
  }

  .logo-shape-small-2 {
      left: -5%;
      top: 35%;
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 4rem;
}

.product {
  &-category {
    margin-bottom: 1.2rem;
  }

  &-name {
    margin-bottom: 1.5rem;
  }
}

.product-attributes {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  border-radius: 1.2rem;
  overflow: hidden;
  width: 100%;

  .attribute {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: .8rem;

    &::before{
      content: "";
      font-family: uicons-regular-straight;
      font-size: 1.6rem;
      color: $black;
    }

    &-description {

      h5 {
        font-size: 1.5rem;
        font-weight: 400;
        color: $black;
      }

      p {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }

    &.attribute-available {
      background-color: $black-10;
      &::before {
        content: "\f34a";
      }
    }

    &.attribute-unavailable {
      background-color: $primary-10;
      &::before {
        content: "\f458";
        color: $primary;
      }
    }
  }
}

.title-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;

  .title-background {
    position: absolute;
    object-fit: contain;
    object-position: center;
    z-index: -1;
  }

  p {
    text-align: center;
  }

  .section-subtitle {
    text-align: center;
    ~ p {
      margin-top: 2rem;
    }
  }
}

.page-content-row {
  display: flex;
  width: 100%;

  @media(max-width: 991px) {
    flex-direction: column;
    align-items: center;
  }

  .page-content-left {
    position: relative;
    width: 34rem;
    flex-shrink: 0;

    @media(max-width: 991px) {
      margin-bottom: 2rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      width: 50%;
      background-color: $black-20;
      z-index: -1;
      border-radius: 2rem;
    }
  }

  .page-content-right {
    flex-grow: 1;
  }
}

.steps-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .step {
    border: 1px solid $black-30;
    padding: 2rem;
    display: flex;
    border-radius: 2rem;

    &-number {
      font-size: 5.7rem;
      padding-right:  2rem;
      color: $primary-50;
      height: fit-content;
    }

    &-text {
      padding-left: 2rem;
      border-left: 1px solid $primary-50;

      h3 {
        margin-bottom: 2rem;
        font-size: 2rem;
        color: $primary
      }
    }
  }
}

.page-shapes {
  .logo-shape {
    right: -40rem;
    top: 50vh;
    left: unset;
  }

  .logo-shape-small {
    top: 4.5rem;
    left: -12rem;
  }

  .logo-shape-extra-small {
    top: 9.5rem;
    right: 6rem;
  }
}

.email-app {
  color: $black-60;
  margin-top: 2rem;

  a {
    color: $black;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
      color: $primary;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;

  &-text {
    h4 {
      color: $primary-80;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: .5rem;
    }

    p {
      font-size: 1.4rem;
      color: $black-60;
    }
  }
}

.help-block {
  &.with-errors {
    li {
      color: $primary-80;
      list-style: none;
      font-size: 1.3rem;
    }
  }
}

.request-quote-text {
  margin-bottom: 2rem;
  text-align: center;
  display: none;

  &.active {
    display: block;
  }
}

.text-row {
  display: flex;
  gap: 20%;
  width: 100%;

  ul {
    list-style: none;
  }
}
