.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20;
    z-index: 20;
    min-height: $header-height;
    background-color: white;
    padding: 0 1.6rem;
    isolation: isolate;

    @media(max-width: 1200px) {
        padding: 0 2.5rem;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu-switch {
    max-height: 2rem;
    position: fixed;
    right: 2.5rem;
    top: 2.1rem;
    z-index: 21;

    @media(min-width: 992px) {
        display: none;
    }
}