
.product-shapes {
    .logo-shape-extra-small {
        top: 8.8rem;
        right: 7.4rem;
    }

    .logo-shape-big {
        right: -60%;
        top: 60%;
    }

    .logo-shape-small {
        left: -6%;
        top: 12%;

        &-2 {
            top: 80vh;
            left: 6%;
        }
    }
}

.product-container {
    display: flex;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    gap: 2rem;
    margin-bottom: 12rem;

    @media(max-width: 991px) {
        flex-direction: column-reverse;
    }
  
    .product-column {
      &-left {
        width: 40rem;
        flex-shrink: 0;
        
            @media(max-width: 991px) {
                width: 100%;
            }
      }
  
      &-right {
        flex-grow: 1;

        .product-column-left {
            margin-bottom: 4rem;
        }
      }
    }
  }

  .category-container {
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
  }

  .product-image-slider {
    max-height:40rem; 
    margin-bottom: 2rem;
    border-radius: .8rem;
    overflow: hidden;

    .owl-nav {
        align-items: center;
        width: unset;
        left: .4rem;
        right: .4rem;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .8rem;
            background: unset!important;
            width: 4.4rem;
            height: 4.4rem;
            background-color: rgba(white, .2)!important;
            color: $black-90;

            i {
                display: flex;
                font-size: 1.9rem;
            }

            &:hover {
                background-color: rgba(white, .5)!important;
            }
        }
    }
  }

  .product-actions {
    display: flex;
    gap: 2rem;
    width: 100%;

    .btn {
        flex-basis: 100%;
        color: $black;

        &:hover {
            background-color: $black;
            color: white;
        }
    }

    @media(max-width: 768px) {
        flex-direction: column;

        .btn {
            width: 100%;
        }
    }
  }

  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .product-name {
        span {
            color: $black-60;
            font-size: 1.8rem;
        }

        h1 {
            font-size: 3.6rem;
            font-weight: 900;
            color: $primary;
        }
    }

    a {
        font-weight: 500;

        i {
            display: flex;
            font-size: inherit;
        }

        &:hover {
            color: $black;
        }
    }
  }

  .product-attributes-detailed {
    border-radius: unset;
    gap: .8rem;
    margin-bottom: 2rem;

    .attribute {
        padding: .8rem 1.2rem;
        border-radius: .8rem;

        &::before {
            font-size: 2.4rem;
        }

        &-description {
            font-size: 1.4rem;
        }

        flex-direction: row-reverse;
        justify-content: space-between;

        &.attribute-available {
            &::before {
                color: $black-50;
            }
        }

        &.attribute-unavailable {
            &::before {
              content: "\f459";
              color: $primary-50;
            }
          }
    }
  }

  .main-attributes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;

    @media(max-width: 1150px) {
        grid-template-columns: 1fr;   
    }

    .main-attribute {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        border-bottom: 1px solid $black-20;
        padding: 2rem 0;

        i {
            font-size: 3.2rem;
            color: $black-20;
            display: flex;
        }

        &-text {
            span {
                font-size: 1.4rem;
                color: $black-80;
            }

            h4 {
                font-size: 1.8rem;
                font-weight: 700;
            }
        }

        @media(min-width: 1151px) {
            &:nth-child(even) {
                i {
                    padding-left: 2rem;
                    border-left: 1px solid $black-20;
                }
            }
        }
    }
  }

  .additional-options {
    h5 {
        color: $black-80;
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    p {
        display: flex;
        align-items: center;
        color: $black;

        &::before {
            content: "\f180";
            font-family: uicons-regular-straight;
            color: $black-20;
            font-size: 3.25rem;
        }
    }
  }

  .related-category-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;

    @media(max-width: 991px) {

    }

    .related-product {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        border-radius: .8rem;
        border: 1px solid $black-20;
        padding: .4rem;
        transition: border .2s linear;

        h5 {
            font-size: 1.6rem;
        }

        img {
            height: 5.2rem;
        }

        &:hover {
            border-color: $black;

            h5 {
                color: $black;
            }
        }
    }
  }

  .product-categories {
    border-radius: 2rem;
    background-color: $black;

    .nav-product-categories {
        @media(max-width:991px) {
            padding: 4rem 2rem 2rem 2rem;
        }
    }

    .section-title {
        color: white;
    }

  }

  .nav-categories {
    .section-title {
        display: none;
    }
  }